/* Importação e uso de uma fonte mais bonita */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, input, button {
    font-family: 'Poppins', sans-serif;
}

/* zerando alguns espaçamentos que o navegador adiciona */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* estilo do cabeçalho */
header {
    padding: 16px;
    background-color: #333;
    color: #fff;
}

/* definição de altura e centralização do elemento <main> */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* cor tamanho largura e outros detalhes da div que abriga os inputs */
main #conteudo {
    background-color: #333;
    color: #fff;
    padding: 32px;
    width: 50%;
    border-radius: 8px;
}

/* ajuste nos inputs, deixando um abaixo do outro */
main #conteudo form div {
    display: flex;
    flex-direction: column;
}

/* tamanho da fonte da label dos inputs */
main #conteudo form div label {
    font-size: 24px;
}

/* estilo do input */
main #conteudo form div input {
    padding: 8px;
    border-radius: 4px;
    border: 0;
    margin-bottom: 32px;
    font-size: 24px;
}

/* estilo do button */
main #conteudo form button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 0;
    background-color: #4efcb9;
    cursor: pointer;
    transition: background-color 100ms linear;
    font-size: 24px;
    font-weight: bold;
}

/* troca de cor no hover do button */
main #conteudo form button:hover {
    background-color: #42ebaa;
}

/* estilo do texto que mostra o resultado */
main #conteudo p,
main #conteudo span {
    font-size: 24px;
    margin-top: 24px;
}